<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
<a class="navbar-brand" href="/">
  <img
    src="{{ url_for('static', filename='images/brawlable.svg') }}"
    width="30"
    height="30"
    class="d-inline-block align-top"
    alt="Brawlable logo"
  >
  Brawlable
</a>
  <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- BRAWLERS -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Brawlers
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('brawlers.rare') }}">Rare</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('brawlers.super_rare') }}">Super Rare</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('brawlers.epic') }}">Epic</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('brawlers.mythic') }}">Mythic</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('brawlers.legendary') }}">Legendary</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('brawlers.ultra_legendary') }}">Ultra Legendary</a></li>
                    </ul>
                </li>

                <!-- GAMEMODES -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Gamemodes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('gamemodes.showdown') }}">Showdown</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('gamemodes.bounty') }}">Bounty</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('gamemodes.heist') }}">Heist</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('gamemodes.brawl_ball') }}">Brawl Ball</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('gamemodes.wipeout') }}">Wipeout</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('gamemodes.hot_zone') }}">Hot Zone</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('gamemodes.knockout') }}">Knockout</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('gamemodes.gem_grab') }}">Gem Grab</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Limited Time Gamemodes</a>
                        </li>
                    </ul>
                </li>

                <!-- RESOURCES -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Resources
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Tutorials</a></li>
                        <li><a class="dropdown-item" href="#">Guides</a></li>
                        <li><a class="dropdown-item" href="#">Tips & Tricks</a></li>
                    </ul>
                </li>

                <!-- MECHANICS -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Mechanics</a>
                </li>
            </ul>

            <!-- Search Form on the right -->
             <form class="d-flex" role="search" action="{{ url_for('search') }}" method="GET">
                <input
                    class="form-control me-2"
                    type="search"
                    name="q"
                    placeholder="Search"
                    aria-label="Search"
                    value="{{ request.args.get('q', '') }}"
                />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
  </div>
</nav>
