{% extends 'base.html' %} {% block title %}Attributions - Brawlable{% endblock
%} {% block content %}

<div class="container py-5">
  <!-- Page Header Text -->
  <div class="mb-5">
    <h5><b>Brawlable Site Attributions</b></h5>
    <hr />
  </div>

  <!-- Introduction to Attributions Page -->
  <div class="mb-4 col-lg-6">
    <h5 class="fw-semibold">
      Here are the acknowledgements for tutorials, images, fonts, icons and
      libraries used in the creation of Brawlable
    </h5>
  </div>

  <br />

  <!-- The Legendary Content Section Layout  -->
  <div class="row g-5">
    <div class="col-lg-6">
      <ul class="list-unstyled mb-0">
        <li class="mb-2">
          <!-- Blinker Attribution -->
          <a
            href="https://blinker.readthedocs.io/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-primary"
            ><b>Blinker (Version: 1.9.0)</b></a
          >
          <br />
          <small class="text-muted">
            Licence: MIT License. View the
            <a href="/static/licenses/blinker.txt" target="_blank"
              >Full License and Copyright Notice</a
            >.
          </small>
          <br />
          Used for fast, generic object-to-object signal broadcasting.
          <br />
        </li>
        <br />

        <!-- Bootstrap CSS and JS Attribution -->
        <li class="mb-2">
          <a
            href="https://getbootstrap.com"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-primary"
            ><b>Bootstrap (Via Content Delivery Network)</b></a
          >
          <br />
          <small class="text-muted">
            Licensed under the MIT License. View the
            <a href="/static/licenses/bootstrap.txt" target="_blank"
              >Full License and Copyright Notice</a
            >.
          </small>
          <br />
          Used for the website layouts and javascript.
          <br />
        </li>
        <br />

        <!-- Bootstrap Icons Attribution -->
        <li class="mb-2">
          <a
            href="https://icons.getbootstrap.com"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-primary"
            ><b>Bootstrap Icons (Via Content Delivery Network)</b></a
          >
          <br />
          <small class="text-muted">
            Licensed under the MIT License. View the
            <a href="/static/licenses/bootstrap-icons.txt" target="_blank"
              >Full License and Copyright Notice</a
            >.
          </small>
          <br />
          Used for icons found around the website.
          <br />
        </li>
        <br />

        <!-- Click Attribution -->
        <li class="mb-2">
          <a
            href="https://click.palletsprojects.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-primary"
            ><b>Click (Version: 8.4.2)</b></a
          >
          <br />
          <small class="text-muted">
            Licence: BSD-3-Clause. View the
            <a href="/static/licenses/click.txt" target="_blank"
              >Full License and Copyright Notice</a
            >.
          </small>
          <br />
          Installed as part of the Flask ecosystem.
          <br />
        </li>
        <br />

        <!-- Flask Attribution -->
        <li class="mb-2">
          <a
            href="https://flask.palletsprojects.com"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-primary"
            ><b>Flask (Version 3.1.3)</b></a
          >
          <br />
          <small class="text-muted">
            Licensed under the BSD-3-Clause license. View the
            <a href="/static/licenses/flask.txt" target="_blank"
              >Full License and Copyright Notice</a
            >.
          </small>
          <br />
          Used for building the web application and HTTP requests.
          <br />
        </li>
        <br />

        <!-- iniconfig Attribution -->
        <li class="mb-2">
          <a
            href="https://github.com/dmiro/iniconfig"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-primary"
            ><b>Iniconfig (Version: 2.3.0)</b></a
          >
          <br />
          <small class="text-muted">
            Licence: MIT. View the
            <a href="/static/licenses/iniconfig.txt" target="_blank"
              >Full License and Copyright Notice</a
            >.
          </small>
          <br />
          Installed as part of the Flask ecosystem.
          <br />
        </li>
        <br />

        <!-- itsdangerous Attribution -->
        <li class="mb-2">
          <a
            href="https://itsdangerous.palletsprojects.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-primary"
            ><b>Itsdangerous (Version: 2.2.0)</b></a
          >
          <br />
          <small class="text-muted">
            Licence: BSD-3-Clause license. View the
            <a href="/static/licenses/itsdangerous.txt" target="_blank"
              >Full License and Copyright Notice</a
            >.
          </small>
          <br />
          Installed as part of the Flask ecosystem.
          <br />
        </li>
        <br />

        <!-- Jinja2 Attribution -->
        <li class="mb-2">
          <a
            href="https://jinja.palletsprojects.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-primary"
            ><b>Jinja (Version 3.1.6)</b></a
          >
          <br />
          <small class="text-muted">
            Licensed under the BSD-3-Clause license. View the
            <a href="/static/licenses/jinja.txt" target="_blank"
              >Full License and Copyright Notice</a
            >.
          </small>
          <br />
          Used for website template engines.
        </li>
        <br />

        <!-- Packaging Attribution -->
        <li class="mb-2">
          <a
            href="https://github.com/pypa/packaging"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-primary"
            ><b>packaging (Version 26.2)</b></a
          >
          <br />
          <small class="text-muted">
            Licensed under the Apache-2.0 license. View the
            <a href="/static/licenses/packaging.txt" target="_blank"
              >Full License and Copyright Notice</a
            >.
          </small>
          <br />
          Used for core utilities in Python package management.
        </li>
        <br />

        <!-- Pluggy Attribution -->
        <li class="mb-2">
          <a
            href="https://github.com/pytest-dev/pluggy"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-primary"
            ><b>pluggy (Version 1.6.0)</b></a
          >
          <br />
          <small class="text-muted">
            Licensed under the MIT License. View the
            <a href="/static/licenses/pluggy.txt" target="_blank"
              >Full License and Copyright Notice</a
            >.
          </small>
          <br />
          Used for plugin management and hook calling mechanisms. As part of
          pytest.
        </li>
        <br />

        <!-- Psycopg Attribution -->
        <li class="mb-2">
          <a
            href="https://psycopg.org"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-primary"
            ><b>psycopg (Version 3.3.4)</b></a
          >
          <br />
          <small class="text-muted">
            Licensed under the LGPL-3.0-only license. View the
            <a href="/static/licenses/psycopg.txt" target="_blank"
              >Full License and Copyright Notice</a
            >.
          </small>
          <br />
          Used for connecting Python to PostgreSQL databases database adapter.
        </li>
        <br />

        <!-- Pygments Attribution -->
        <li class="mb-2">
          <a
            href="https://pygments.org/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-primary"
            ><b>Pygments (Version 2.20.0)</b></a
          >
          <br />
          <small class="text-muted">
            Licensed under the BSD-2-Clause license. View the
            <a href="/static/licenses/pygments.txt" target="_blank"
              >Full License and Copyright Notice</a
            >.
          </small>
          <br />
          Used for syntax highlighting across multiple source code formats.
        </li>
        <br />

        <!-- Pytest Attribution -->
        <li class="mb-2">
          <a
            href="https://pytest.org"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-primary"
            ><b>pytest (Version 9.1.1)</b></a
          >
          <br />
          <small class="text-muted">
            Licensed under the MIT license. View the
            <a href="/static/licenses/pytest.txt" target="_blank"
              >Full License and Copyright Notice</a
            >.
          </small>
          <br />
          Used for writing and running test suites cleanly.
        </li>
        <br />

        <!-- Werkzeug Attribution -->
        <li class="mb-2">
          <a
            href="https://werkzeug.palletsprojects.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-primary"
            ><b>Werkzeug (Version 3.1.8)</b></a
          >
          <br />
          <small class="text-muted">
            Licensed under the BSD-3-Clause license. View the
            <a href="/static/licenses/werkzeug.txt" target="_blank"
              >Full License and Copyright Notice</a
            >.
          </small>
          <br />
          Used for WSGI web application libraries and request/response routing.
          Installed as part of the Flask ecosystem.
        </li>
        <br />

        <!-- Others-->
      </ul>
    </div>
  </div>
</div>

{% endblock %}
