{% extends 'base.html' %} {% block title %}Working in Progress - Brawlable{%
endblock %} {% block content %}

<!-- content -->
<div class="container-fluid px-0">
  <div class="row justify-content-center mx-0">
    <div class="col-12 text-center p-4 bg-light">
      <small>Here is a temporary page!</small>
      <h1>Hmm. You shouldn't see this in a typical basis.</h1>
      <p>Or maybe your special? ✨</p>
      <a
        href="{{ url_for('main.contact') }}"
        class="btn btn-primary text-white text-decoration-none px-3"
      >
        Let's take you to the correct support page :)
      </a>
    </div>
  </div>
</div>

{% endblock %}
