:root {
  --header-height: 65px;
}

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: var(--header-height);
}

:target {
  scroll-margin-top: var(--header-height);
}

section[id],
div[id],
article[id] {
  display: block;
  scroll-margin-top: var(--header-height);
}
