.hero {
  position: relative;
  min-height: 82vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  z-index: 0;
}

.hero-bg .bg {
  background-color: var(--bg-navbar);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.hero .container {
  z-index: 2;
}

#audio-toggle {
  z-index: 3;
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.85;
  transition: 0.2s ease;
}

#audio-toggle:hover {
  opacity: 1;
  transform: scale(1.05);
}

/* Brawler Scroll */
.scroll-wheel {
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;

  scroll-snap-type: x proximity;
  scroll-behavior: smooth;

  scrollbar-width: none;
}

.scroll-wheel::-webkit-scrollbar {
  display: none;
}

/*volume*/

#audio-toggle {
  z-index: 3;
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  pointer-events: auto;
  opacity: 0.85;

  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

#audio-toggle:hover {
  opacity: 1;
  transform: scale(1.05);
}

#audio-toggle:active {
  transform: scale(0.95);
}

#audio-toggle:focus-visible {
  outline: 3px solid #ffffff;
  outline-offset: 3px;
}

.overlay {
  pointer-events: none;
}
