{% extends 'base.html' %} {% block title %}Working in Progress - Brawlable{%
endblock %} {%block content %}

<!-- content -->
<div class="container-fluid px-0">
  <div class="row justify-content-center mx-0">
    <div class="col-12 text-center p-4 bg-light">
      <h1>🚧 Page is under construction</h1>
      <p>This page is currently not available.</p>
      <a href="/" class="btn btn-primary text-white text-decoration-none px-3">
        Let's head back to home
      </a>
    </div>
  </div>
</div>

{% endblock %}
